.applicant {
  min-height: 100vh;
  background: #f1f5f9;
}


/* =========================
   MAIN SECTION
========================= */

.mainSection {
  margin-left: 250px;
  min-height: 100vh;
}


/* =========================
   DASHBOARD CONTENT
========================= */

.content {
  padding: 30px;
  box-sizing: border-box;
}